@model IEnumerable<IpcaHomeModel.Alojamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.disponibilidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.informacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restricoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgenteImobiliaria.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudante.universidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proprietario.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localização.rua)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.disponibilidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.informacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restricoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avaliacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.historico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgenteImobiliaria.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudante.universidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietario.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localização.rua)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
